<%- include('partials/header') %>
<main class="container">
  <div class="ui segment">
    <div class="album py-5">
      <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="<%= movie.poster_url %>" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong><%= movie.title %></strong></h5>
                <p class="card-text"><small class="text-body-secondary"><%= movie.age_rating %>+</small></p>
                <p class="card-text"><%= movie.description %></p>
                <h5 class="card-text mt-5">Rp<%= movie.ticket_price %></h5>
                <div class="row">
                  <% shows.forEach(function(show) { %>
                    <div class="col-4">
                      <a href="/<%= movie.id %>/detail/<%= show.id %>" class="btn btn-primary"><%= show.st_time %></a>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%-include('partials/footer') %>